* {
    padding: 0;
    margin: 0;
    background-color: rgb(43, 41, 41);
}

#grid-container {
    display: flex;
    justify-content: center;
}


.unit {
    width: 26px;
    height: 26px;
    background-color: white;
}